@font-face {
   font-family: CircularStd;
   src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: CircularStd;
   src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   max-width: 1025px;
   margin: 0 auto;
   font-family: CircularStd;
   font-weight: 400;
   font-style: normal;
}

.header {
   text-align: center;
   font-size: 65px;
   margin: 15px 0px;
   color: #313131;
}

.header-text {
   text-align: center;
   font-size: 20px;
   color: #5f5f5f;
}

.block {
   max-width: 500px;
}

.about {
   font-size: 34px;
   font-weight: 700;
   margin: 120px 0px 0px 0px;
   color: #313131;
}

.about-text {
   margin: 10px 0px;
   line-height: 1.5;
   color: #5f5f5f;
}

.name {
   margin: 130px 0px 0px 0px;
   font-weight: 700;
   font-size: 18px;
   color: #313131;
}

.manager {
   font-weight: 700;
   color: #b8b8b8;
   margin: 10px 0px;
}

